@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,471;1,471&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: white;
}
*::selection{
  color: rgb(187, 255, 0);
  background-color: white;
}
body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #95c11e;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
  }
 html, body{
    height: 100%;
    width: 100%;
    position: relative;

 }
 .cursor{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(187, 255, 0);
    position: fixed;
    z-index: 9999;

 }
 .cursor-blur{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-color: rgb(187, 255, 0);
    position: fixed;
    filter: blur(200px);
    z-index: 9999;

 }
 .nav{
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 150px;
    gap: 50px;
    position: fixed;
    z-index: 19;
}
.nav img{
    cursor:pointer;
    height: 80px;
}
.nav h4{
    cursor:pointer;
    text-transform: uppercase;
}


video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main{
    position: relative;
    background-color: rgba(0,0,0,0.37);
}

 .main .page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-emphasis: center;
    z-index: 10;
}
.page1 .arrow{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 2px solid rgb(187, 255, 0);
    border-radius: 50%;
    position: absolute;
    left: -2%;
    bottom: -1%;
    transition: all ease 0.6s;
    cursor: pointer;
}
.page1 .arrow svg{
    height: 56px;
    position: absolute;
    top: 40%;
    left: 34%;
}
.page1 .arrow:hover{
    scale: 0.5;
    background-color: rgb(187, 255, 26);
}

.page1 h1{
font-size: 120px;
position: relative;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;
}

.page1 h4{
font-size: 30px;
font-weight: 800;
}

.page1 p{
font-size: 20px;
font-weight: 500;
width:40%;
}
.page1 h1::before{
 content: "EAT. DRINK. PLAY.";
 position: absolute;
 color: black;
 z-index: -1;
 top: -6px;
 left: -6px;
 -webkit-text-stroke: 2px rgb(187, 255, 0);
}

.page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

.scrollor{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.scrollor::-webkit-scrollbar{
    display: none;
}
.scroll-in{
    display: inline-block;
    animation: scroll 30s  linear infinite;
    
}
.scrollor h4{
    font-family: sans-serif;
    display: inline-block; 
    font-size: 120px;
    font-weight: 800;
    -webkit-text-stroke: 2px rgb(187, 255, 0);
    color: transparent;
    margin-right: 100px;
    transition: all 0.5s linear;
}

.scrollor h4:hover {
   color: rgb(187, 255, 26);
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
}
.about-us img{
    height: 200px;
    width: 200px;
    border-radius: 24px;
    object-fit: cover;
}

.about-us-in{
text-align: center;
width: 55%;
}
.about-us-in h3{
    font-size: 40px;
    font-weight: 800;
    margin-bottom:45px
}
.about-us-in p {
    font-size: 20px;
    line-height: 30px;
}

.card-container{
    height: 70vh;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 9;
}

.card{
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s ;
    cursor: pointer;
}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads…ome-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2{
    background-image: url(Assests/card2.webp);
}

#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads…/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(187, 255, 0);
    padding:30px;
    padding-top: 60px;
    text-align: center;
    opacity: 0;
    transition: all ease 0.6s ;
    
}

.overlay h4{
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.overlay p{
    font-size: 16px;
    color: black;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(1,1,0,30deg);
}

.green-div{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left bottom,rgb(45, 236, 70),rgb(187, 255, 0));
}

.green-div h4{
    color: black;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    width: 50%;
}

.green-div img{
    height: 100%;
    width: 180px;
    object-fit: cover;
}

.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.page3>p{
    font-size: 31px;
    width: 55%;
    text-align: center;
    line-height: 45px;
}

.page3 img{
    position: absolute;
    height: 60px;
}

.page3 .colon1{
    top:25%;
    left: 15%;
}

.page3 .colon2{
    bottom:25%;
    right: 15%;
}

.page4{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}
.page4 h1{
 color:#000;
 font-family: sans-serif;
 font-size: 70px;
 position: absolute;
 top: -8%;
 -webkit-text-stroke: 2px  #fff;
 transition: all  ease 1s ;
 cursor: pointer;
}

.page4 h1:hover{
  transform: translateY(-25%);
}

.elem{
    height: 70%;
    width: 20%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.elem h2{
    font-size: 23px;
    height: 100%;
    width: 100%;
    background-color: rgb(187, 255, 0);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    transition: all ease 0.9s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
    transition: all ease 0.9s;
}

.elem:hover h2{
    color:white;
    background: transparent;
}

.elem:hover img{
    scale: 1;
}

.footer-container{

    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,rgb(45, 236, 70),rgb(187, 255, 0));
    position: relative;
}

.footer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:16px;
    position: relative;
}
.f-img{
    height: 60%;
    width: 10%;
    position: relative;
    z-index: 99;
    

}
.f-text{
    text-transform: uppercase ;
    font-size: 25px;
    line-height: 40px;
    
}
.footer>img{
    height: 100%;
    width: 480px;
    object-fit: cover;
    position: absolute;
    left: 1%;
    z-index: 0;
}
.footer-1{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 45%;
    left: 15%;
}

.footer-1 .img{
filter: invert(1);
}

